streamlit
tree-sitter
tree-sitter-python
tree-sitter-java
tree-sitter-javascript
networkx
gitpython
torch
transformers
peft
datasets
evaluate
rouge_score
bert_score
nltk
pandas
numpy
accelerate
bitsandbytes
scipy
scikit-learn
graphviz
faiss-cpu
sentence-transformers
trl
